
body {
    margin: 0;
    padding: 0;
}

.CodeMirror {
    font-family: "Andale Mono", "Menlo", "Lucida Console", monospace;
    height: 100vh;
}

.gutter-assembled {
    width: 9em;
}
.gutter-style {
    color: #AAA;
}
